
.pricing-box {
  background-color: white;
  margin-right: 5px;
  padding-top: 10px;
}

.pricing-box-line {
  border-bottom: solid #ccc 1px;
}

.pricing-box-item {
  font-size: 0.8em;
  /*border-bottom: solid #ccc 1px;*/
}

.img-responsive {
  margin: 0 auto;   
}

.push-up {
  padding-top: 0px;
  margin-top: -50px;
}

.overwrite-box {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;  
  height: 350px;
  width: 100%;
}

hr {
  margin: 0;
  margin-bottom: -10px;
}

#mail-list-label {
  padding: 8px;
  font-size: 1.3em;
}

